/* .App {
  text-align: center;
} */

.spinner-container {
  text-align: center;
  width: 100%;
}

.spinner-movement {
  margin-top: 400px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding-right: 60px;
}

.rentals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.card {
  margin: 20px;
  width: 25%;
  box-shadow: 5px 5px 18px #888888;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
}
.card-text-container {
  padding: 20px;
}

@media (max-width: 900px) {
  .card {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .search-container {
    justify-content: center;
    padding-right: 0px;
  }
  .card {
    width: 75%;
  }
}
