.user-card {
  background-color: #1b262c;
  text-align: center;
  height: 30vh;
  color: #fff;
  padding-top: 50px;
}

.user-card button {
  margin: 10px;
  background-color: #3282b8;
  border: none;
  border-radius: 4px;
  height: 30px;
  color: #fff;
}

.profile-container h3 {
  text-align: center;
}

.user-equipment-container {
  background-color: lightgray;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.main-rented-container {
  padding-top: 50px;
}

/* .user-renting-contianer {
  padding: 50px;
} */

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.owner-button-container {
  display: flex;
  justify-content: space-evenly;
}

.owner-button-container button {
  width: 45%;
}
